* {
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.mainContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 700vw;
  height: 100vh;
}

#nucleo0 {
  position: absolute;
  left: 0vw;
  width: 100vw;
  height: 100vh;
}

#nucleo1 {
  position: absolute;
  left: 100vw;
  width: 100vw;
  height: 100vh;
  background-color: #E6FBE1;
}

#nucleo2 {
  position: absolute;
  left: 200vw;
  width: 100vw;
  height: 100vh;
}

#nucleo3 {
  position: absolute;
  left: 300vw;
  width: 100vw;
  height: 100vh;
}

#nucleo4 {
  position: absolute;
  left: 400vw;
  width: 100vw;
  height: 100vh;
}

#nucleo5 {
  position: absolute;
  left: 500vw;
  width: 100vw;
  height: 100vh;
  
}


